In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv("imdb-top-1000.csv")

In [3]:
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [4]:
movies.shape

(1000, 10)

In [5]:
movies["Genre"].value_counts() #type of movies

Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: Genre, dtype: int64

## groupby


-why we are using groupby we can do this from different methods?


The groupby is one of the most frequently used Pandas functions in data analysis. It is used for grouping the data points (i.e. rows) based on the distinct values in the given column or columns. We can then calculate aggregated values for the generated groups.

In [6]:
movies.groupby('Genre') #group made on basis of data

In [7]:
movies.groupby('Genre').groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [19]:
movies.groupby('Genre').get_group('Crime')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
6,Pulp Fiction,1994,154,Crime,8.9,Quentin Tarantino,John Travolta,1826188,107928762.0,94.0
22,Cidade de Deus,2002,130,Crime,8.6,Fernando Meirelles,Kátia Lund,699256,7563397.0,79.0
...,...,...,...,...,...,...,...,...,...,...
958,Funny Games,1997,108,Crime,7.6,Michael Haneke,Susanne Lothar,65058,217345863.0,69.0
960,Sleepers,1996,147,Crime,7.6,Barry Levinson,Robert De Niro,186734,49100000.0,49.0
974,The Godfather: Part III,1990,162,Crime,7.6,Francis Ford Coppola,Al Pacino,359809,66666062.0,60.0
980,Blood Simple,1984,99,Crime,7.6,Joel Coen,Ethan Coen,87745,2150000.0,82.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [20]:
movies.groupby('Genre').get_group('Western')#

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0
115,Per qualche dollaro in più,1965,132,Western,8.3,Sergio Leone,Clint Eastwood,232772,15000000.0,74.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [21]:
movies.groupby('Genre')["IMDB_Rating"].mean() #mean of movies rating

Genre
Action       7.949419
Adventure    7.937500
Animation    7.930488
Biography    7.938636
Comedy       7.901290
Crime        8.016822
Drama        7.957439
Family       7.800000
Fantasy      8.000000
Film-Noir    7.966667
Horror       7.909091
Mystery      7.975000
Thriller     7.800000
Western      8.350000
Name: IMDB_Rating, dtype: float64

In [22]:
movies.groupby('Genre')["IMDB_Rating"].mean().sort_values(ascending=False) #ordering

Genre
Western      8.350000
Crime        8.016822
Fantasy      8.000000
Mystery      7.975000
Film-Noir    7.966667
Drama        7.957439
Action       7.949419
Biography    7.938636
Adventure    7.937500
Animation    7.930488
Horror       7.909091
Comedy       7.901290
Family       7.800000
Thriller     7.800000
Name: IMDB_Rating, dtype: float64

In [23]:
movies.groupby('Genre')["IMDB_Rating"].mean().sort_values(ascending=False).index[0] #top rated

'Western'

In [24]:
movies.groupby('Genre')["IMDB_Rating"].mean().sort_values(ascending=False).index[-1] #low rated

'Thriller'

In [25]:
movies.duplicated("Released_Year")

0      False
1      False
2      False
3      False
4      False
       ...
995     True
996     True
997     True
998     True
999     True
Length: 1000, dtype: bool

In [26]:
movies.groupby('Released_Year')["Runtime"].max()

Released_Year
1920     76
1921     68
1922     94
1924     45
1925     95
       ...
2017    167
2018    156
2019    209
2020    160
PG      140
Name: Runtime, Length: 100, dtype: int64

## which is most famous genre  top 3

In [27]:
movies.groupby('Genre')["No_of_Votes"].max().sort_values(ascending=False) 
#is se maximum vale aye gi but hame sab votes ka sum chahye

Genre
Drama        2343110
Action       2303232
Crime        1826188
Adventure    1512360
Biography    1213505
Mystery      1129894
Animation     999790
Comedy        939631
Horror        787806
Western       688390
Family        372490
Film-Noir     158731
Fantasy        88794
Thriller       27733
Name: No_of_Votes, dtype: int64

In [28]:
movies.groupby('Genre')["No_of_Votes"].max().sort_values(ascending=False).index[0:3]

Index(['Drama', 'Action', 'Crime'], dtype='object', name='Genre')

In [29]:
movies.groupby('Genre')["No_of_Votes"].sum().sort_values(ascending=False).index[0:3] # sum of all votes foe each genre

Index(['Action', 'Drama', 'Crime'], dtype='object', name='Genre')

In [30]:
#which director earn most b(overall)

In [31]:
movies.groupby('Director')["Gross"].sum().sort_values(ascending=False).index[0] #total business

'Akira Kurosawa'

In [32]:
movies.groupby('Director')["Gross"].max() #(indivdual max) but we want all

Director
Aamir Khan               1223869.0
Aaron Sorkin           853090410.0
Abdellatif Kechiche      2199675.0
Abhishek Chaubey       218428303.0
Abhishek Kapoor          1122527.0
                          ...
Zack Snyder            210614939.0
Zaza Urushadze            144501.0
Zoya Akhtar              5566534.0
Çagan Irmak            461855363.0
Ömer Faruk Sorak       196206077.0
Name: Gross, Length: 548, dtype: float64

### actor who performed in action movie

In [33]:
movies.groupby('Star1')["Genre"].sum().sort_values(ascending=False) #wrong method

Star1
Clint Eastwood              WesternWesternDramaDramaActionWesternActionDra...
Audrey Hepburn                                            ThrillerDramaComedy
Jose Coronado                                                         Mystery
Bernard-Pierre Donnadieu                                              Mystery
Rufus Sewell                                                          Mystery
                                                  ...
Anupam Kher                                                            Action
Vicky Kaushal                                                          Action
Jackie Earle Haley                                                     Action
Michael Beck                                                           Action
Ken Watanabe                                                           Action
Name: Genre, Length: 660, dtype: object

In [34]:
movies[movies["Genre"]=="Action"] #filter

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
8,Inception,2010,148,Action,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,292576195.0,74.0
10,The Lord of the Rings: The Fellowship of the Ring,2001,178,Action,8.8,Peter Jackson,Elijah Wood,1661481,315544750.0,92.0
13,The Lord of the Rings: The Two Towers,2002,179,Action,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
...,...,...,...,...,...,...,...,...,...,...
968,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
979,Lethal Weapon,1987,109,Action,7.6,Richard Donner,Mel Gibson,236894,65207127.0,68.0
982,Mad Max 2,1981,96,Action,7.6,George Miller,Mel Gibson,166588,12465371.0,77.0
983,The Warriors,1979,92,Action,7.6,Walter Hill,Michael Beck,93878,22490039.0,65.0
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [35]:
movies[movies["Genre"]=="Action"].groupby("Star1").count()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,No_of_Votes,Gross,Metascore
Star1,,,,,,,,,
Aamir Khan,2,2,2,2,2,2,2,2,0
Aaron Taylor-Johnson,1,1,1,1,1,1,1,1,1
Akshay Kumar,2,2,2,2,2,2,2,2,0
Alan Mak,1,1,1,1,1,1,1,1,1
Alia Bhatt,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...
William Shatner,1,1,1,1,1,1,1,1,1
Won Bin,1,1,1,1,1,1,1,1,0
Yash,1,1,1,1,1,1,1,1,0
Yul Brynner,1,1,1,1,1,1,1,1,1
Yun-Fat Chow,3,3,3,3,3,3,3,3,2

In [36]:
movies[movies["Genre"]=="Action"].groupby("Star1").count().sort_values(by="Genre",ascending=False)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,No_of_Votes,Gross,Metascore
Star1,,,,,,,,,
Harrison Ford,5,5,5,5,5,5,5,5,5
Joe Russo,4,4,4,4,4,4,4,4,4
Christian Bale,4,4,4,4,4,4,4,4,4
Tom Cruise,4,4,4,4,4,4,4,4,4
Robert Downey Jr.,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...
John Wayne,1,1,1,1,1,1,1,1,1
John Belushi,1,1,1,1,1,1,1,1,1
Daniel Brühl,1,1,1,1,1,1,1,1,1
Jim Caviezel,1,1,1,1,1,1,1,1,1
Josh Hartnett,1,1,1,1,1,1,1,1,1

In [37]:
movies[movies["Genre"]=="Action"].groupby("Star1").count().sort_values(by="Genre",ascending=False).index[:2]

Index(['Harrison Ford', 'Joe Russo'], dtype='object', name='Star1')

In [38]:
movies[movies["Genre"]=="Action"].groupby("Star1")["Star1"].count().sort_values(ascending=False).head(3)
# another way of coding

Star1
Harrison Ford     5
Joe Russo         4
Christian Bale    4
Name: Star1, dtype: int64

###  which movie has max runtime??

In [77]:
movies.groupby('Series_Title')["Runtime"].max().sort_values(ascending=False) 
#is se maximum vale aye gi

Series_Title
Gangs of Wasseypur             321
Hamlet                         242
Gone with the Wind             238
Once Upon a Time in America    229
Lawrence of Arabia             228
                              ...
Duck Soup                       69
The Kid                         68
The General                     67
Freaks                          64
Sherlock Jr.                    45
Name: Runtime, Length: 999, dtype: int64

In [78]:
movies.sort_values(by="Runtime",ascending=False).head(3) #without groupby

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
140,Gangs of Wasseypur,2012,321,Action,8.2,Anurag Kashyap,Manoj Bajpayee,82365,5257741.0,89.0
812,Hamlet,1996,242,Drama,7.7,Kenneth Branagh,Kenneth Branagh,35991,4414535.0,NaN
314,Gone with the Wind,1939,238,Drama,8.1,Victor Fleming,George Cukor,290074,198676459.0,97.0

In [80]:
movies.sort_values(by="Runtime",ascending=False).head(3)["Series_Title"].values

array(['Gangs of Wasseypur', 'Hamlet', 'Gone with the Wind'], dtype=object)